{% extends 'base.html.twig' %}

{% block title %}
    About Us | {{ parent() }}
{% endblock %}

{% block body %}
    <section class="about">
        <h2 class="titre"> The Team</h2>
    </section>

    {% for member in team %}
        <section class="team">
        <img src="{{ member.picture }}" alt="{{ member.lastname }}">
        <div>
        <h4>{% if member.firstname == "Fabien" %} ❤️{% endif %}
            {{ member.lastname }} {{ member.firstname }}</h4>
        <p>Creator of : {{ member.creatorOf }}</p>
        <p>Date of birth : {{ member.dateOfBirth | date("d-m-Y") }}</p>
        <p>{{ member.description }}</p>
        </div>
        </section>
    {% endfor %}

{% endblock %}

